
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

img {
  width: 100%; }
  
a {
  color: #106BD2; }
a:visited {
	color: #106BD2; }

a:hover {
  opacity: 0.5; }

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 6%; }

.links {
  text-decoration: none;
  color: #303C42; }
.links:hover {
opacity: 0.4;
transition: 0.4s; }