html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.links {
  text-decoration: none;
  color: #303C42; }
  .links:hover {
    text-decoration: underline; }

.header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  opacity: 0.98;
  z-index: 999; }
  .header:last-child {
    margin-right: 0; }
  .header .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    color: #303C42;
    letter-spacing: 5px; }
    .header .title:last-child {
      margin-right: 0; }
  .header .navigation {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    color: #303C42;
    font-size: 16px;
    font-weight: 200;
    line-height: 42px;
    text-align: center; }
    .header .navigation:last-child {
      margin-right: 0; }
    .header .navigation .nav-items {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 12.64237%;
      list-style: none; }
      .header .navigation .nav-items:last-child {
        margin-right: 0; }
      .header .navigation .nav-items:hover {
        text-decoration: underline; }

.hero {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/web.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  text-align: center; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  .hero:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 540px;
    background-color: rgba(92, 78, 72, 0.4);
    z-index: 0; }
  .hero .web {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    font-weight: 100;
    line-height: 155px;
    font-size: 72px;
    text-transform: capitalize; }
    .hero .web:last-child {
      margin-right: 0; }

.contact {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  color: #303C42;
  text-align: center; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }
  .contact .contact-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .contact .contact-img:last-child {
      margin-right: 0; }
  .contact .contact-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-top: 62px; }
    .contact .contact-content:last-child {
      margin-right: 0; }
    .contact .contact-content .contact-info .contact-title {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%; }
      .contact .contact-content .contact-info .contact-title:last-child {
        margin-right: 0; }
    .contact .contact-content .contact-info .contact-items {
      margin-top: 10px;
      list-style: none;
      letter-spacing: 5px; }
      .contact .contact-content .contact-info .contact-items:hover {
        text-decoration: underline; }
    .contact .contact-content .contact-info .contact-icons {
      margin-right: 5px; }

.mobileContact {
  display: none; }
  .mobileContact h2 {
    margin: 15px;
    font-size: 32px; }
  .mobileContact ul {
    padding-left: 0;
    font-size: 38px;
    list-style: none; }
  .mobileContact li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .mobileContact li:last-child {
      margin-right: 0; }

.about {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  background-color: #303C42;
  border-top: 1px solid #303C42;
  color: #fff; }
  .about::after {
    clear: both;
    content: "";
    display: table; }
  .about .about-info {
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    margin: 0 0 0 10px;
    letter-spacing: 6px;
    padding: 10px; }

.portfolio {
  max-width: 12 of 12;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  color: #303C42;
  text-align: center; }
  .portfolio::after {
    clear: both;
    content: "";
    display: table; }
  .portfolio .portfolio-title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    font-weight: 300; }
    .portfolio .portfolio-title:last-child {
      margin-right: 0; }
  .portfolio .portfolio-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    letter-spacing: 3px;
    text-align: left;
    line-height: 24px;
    font-size: 14px; }
    .portfolio .portfolio-info:last-child {
      margin-right: 0; }
  .portfolio .projects {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
    .portfolio .projects:last-child {
      margin-right: 0; }
    .portfolio .projects .projects-title {
      font-weight: 300; }
    .portfolio .projects .project-item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin: 0.5%;
      text-align: center;
      text-decoration: none;
      color: #303C42; }
      .portfolio .projects .project-item:last-child {
        margin-right: 0; }
      .portfolio .projects .project-item:hover {
        text-decoration: underline; }
      .portfolio .projects .project-item .project-img {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%;
        border: 1px solid #303C42;
        opacity: 0.5;
        margin: 10px;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .portfolio .projects .project-item .project-img:last-child {
          margin-right: 0; }
        .portfolio .projects .project-item .project-img:hover {
          opacity: 1;
          transition: 0.6s; }
      .portfolio .projects .project-item .drobe {
        background-image: url("../img/drobe.jpg"); }
      .portfolio .projects .project-item .hinsonpoolcare {
        background-image: url("../img/hinson-pool-care.jpg"); }
      .portfolio .projects .project-item .caddis {
        background-image: url("../img/caddis-test.jpg"); }
      .portfolio .projects .project-item .hollymeyers {
        background-image: url("../img/hollymeyers.jpg"); }

.portfolio-links {
  margin: 1%;
  text-decoration: none;
  color: #303C42; }
  .portfolio-links:hover {
    text-decoration: underline; }
  .portfolio-links .fa {
    margin-right: 0.5em; }

.footer {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  background-color: #303C42;
  text-align: center; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }
  .footer:focus {
    transition: 0.5s; }
  .footer .back-to-top {
    text-decoration: none;
    color: #fff; }
    .footer .back-to-top:hover {
      text-decoration: underline; }

@media screen and (max-width: 769px) {
  .header .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .header .title:last-child {
      margin-right: 0; }
  .header .navigation {
    display: none; }
  .contact .contact-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .contact .contact-img:last-child {
      margin-right: 0; }
  .contact .contact-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    margin-top: 0; }
    .contact .contact-content:last-child {
      margin-right: 0; }
    .contact .contact-content .contact-info {
      display: none; }
    .contact .contact-content .contact-title {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .contact .contact-content .contact-title:last-child {
        margin-right: 0; }
  .mobileContact {
    max-width: 12;
    margin-left: auto;
    margin-right: auto;
    padding: 2.35765%;
    text-align: center;
    color: #303C42;
    display: inline; }
    .mobileContact::after {
      clear: both;
      content: "";
      display: table; }
  .portfolio .portfolio-title {
    display: none; }
  .portfolio .portfolio-info {
    display: none; }
  .portfolio .projects {
    display: none; }
    .portfolio .projects .project-img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 300px;
      margin: 0 0 8px; }
      .portfolio .projects .project-img:last-child {
        margin-right: 0; } }

@media screen and (max-width: 500px) {
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px; }
    .hero:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 250px;
      background-color: rgba(92, 78, 72, 0.4);
      z-index: 0; } }
