body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

// .thing-that-moves {
//   margin: 10px;
//   @include span-columns(12 of 12);
//   height: 100px;
//   background: red;
//
//   transition: left 0.5s, width 1s; /* BYO prefixes */
//   @media (min-width: 400px) {
//     // left: 300px;
//     width: 100%;
//   }
//   @media (min-width: 600px) {
//     // left: 100px;
//     width: 100px;
//   }
// }
.page-wrapper {
    background-image: url("../img/web.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}
.links {
    text-decoration: none;
    color: #303C42;
    &:hover {
        text-decoration: underline;
    }
}
// HEADER ----------------------
.header {
    @include span-columns(12);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    opacity: 0.98;
    z-index: 999;
    .title {
        @include span-columns(6 of 12);
        text-align: center;
        font-size: 32px;
        font-weight: 200;
        color: #303C42;
        letter-spacing: 5px;
    }
    // PAGE NAV ---------------------
    .navigation {
        @include span-columns(6 of 12);
        color: #303C42;
        font-size: 16px;
        font-weight: 200;
        line-height: 42px;
        text-align: center;
        .nav-items {
            @include span-columns(1.2 of 6);
            list-style: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
// MAIN ------------
.hero {
    @include outer-container(12);
    position: relative;
    height: 100vh;
    .background-color {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(48, 60, 66, 1);
        z-index: 0;
    }
    .web {
        @include span-columns(12 of 12);
        position: absolute;
        text-align: center;
        top: 20%;
        color: #fff;
        opacity: 0.8;
        font-weight: 100;
        font-size: 62px;
        text-transform: uppercase;
    }
    .scroll-container {
        @include span-columns(12 of 12);
        bottom: 0;
        height: 6.5em;
        letter-spacing: 0.225em;
        outline: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;
        opacity: 0.8;
        .scroll-down {
            @include span-columns(4 of 12);
            @include shift(4);
            text-decoration: none;
            font-size: 1em;
            color: #fff;
            &:hover {
                color: #000000;
            }
        }
        .fa {
            @include span-columns(4 of 4);
            font-size: 1.5em;
        }
    }
}
// CONTACT----------------------
.contact {
    @include outer-container(12);
    @include pad();
    background-color: #fff;
    color: #303C42;
    text-align: center;
    .contact-info {
        padding: 0;
    }
    .contact-content {
        @include span-columns(12 of 12);
        .contact-title {
            font-size: 1.6em;
            font-weight: 300;
        }
        .contact-items {
            list-style: none;
            font-size: 1.3em;
            font-weight: 200;
        }
    }
}
//  ABOUT ---------------------
.about {
    @include outer-container(12);
    @include pad();
    background-color: #303C42;
    border-top: 1px solid #303C42;
    color: #fff;
    .about-info {
        text-align: center;
        color: #fff;
        line-height: 40px;
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        margin: 0 0 0 10px;
        letter-spacing: 6px;
        padding: 10px;
    }
}
// Skills
.portfolio {
    @include outer-container(12 of 12);
    @include pad();
    color: #303C42;
    text-align: center;
    background-color: #fff;
    .portfolio-title {
        @include span-columns(12 of 12);
        text-align: center;
        font-weight: 300;
    }
    .portfolio-info {
        @include span-columns(12 of 12);
        letter-spacing: 3px;
        text-align: left;
        line-height: 24px;
        font-size: 14px;
    }
    .projects {
        @include span-columns(12 of 12);
        text-align: center;
        margin-bottom: 20px;
        .projects-title {
            font-weight: 300;
        }
        .project-item {
            @include span-columns(6 of 12);
            margin: 0.5%;
            text-align: center;
            text-decoration: none;
            color: #303C42;
            transition: width 0.8s linear; /* BYO prefixes */
            &:hover {
                text-decoration: underline;
            }
            .project-img {
                @include span-columns(6 of 6);
                border: 1px solid #303C42;
                opacity: 0.5;
                // margin: 10px;
                height: 300px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                &:hover {
                    opacity: 1;
                    transition: 0.6s;
                }
            }
            @media (max-width: 550px) {
              width: 100%;
            }
            // @media (min-width: 600px) {
            //   // left: 100px;
            //   width: 100px;
            // }
            .drobe {
                background-image: url("../img/drobe.jpg");
            }
            .hinsonpoolcare {
                background-image: url("../img/hinson-pool-care.jpg");
            }
            .caddis {
                background-image: url("../img/caddis-test.jpg");
            }
            .hollymeyers {
                background-image: url("../img/hollymeyers.jpg");
            }
        }
    }
}
.portfolio-links {
    margin: 1%;
    text-decoration: none;
    color: #303C42;
    &:hover {
        text-decoration: underline;
    }
    .fa {
        margin-right: 0.5em;
    }
}
// Footer
.footer {
    @include outer-container(12);
    @include pad();
    background-color: #303C42;
    text-align: center;
    z-index: 1;
    color: #fff;
    .copyright {
        @include span-columns(4 of 12);
        text-align: left;
        letter-spacing: 0.1em;
        opacity: 0.5;
    }
    .scroll-up-container {
        @include span-columns(4 of 12);
        text-align: center;
    }
    .scroll-up {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.225em;
        color: #fff;
        &:hover {
            opacity: 0.4;
        }
    }
    .social {
        @include span-columns(4 of 12);
        text-align: right;
        .fa {
            padding-left: 12px;
            font-size: 1.3em;
            text-decoration: none;
            color: #fff;
            &:hover {
                opacity: 0.4;
            }
        }
    }
}
