body {
    margin: 0;
}

.links {
  text-decoration: none;
  color: #303C42;
  &:hover {
      text-decoration: underline;
  }
}
// HEADER ----------------------
.header {
    @include span-columns(12);
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    opacity: 0.98;
    z-index: 999;
    .title {
        @include span-columns(6 of 12);
        text-align: center;
        font-size: 32px;
        font-weight: lighter;
        color: #303C42;
        letter-spacing: 5px;
    }
    // PAGE NAV ---------------------
    .navigation {
        @include span-columns(6 of 12);
        color: #303C42;
        font-size: 16px;
        font-weight: lighter;
        line-height: 42px;
        text-align: center;
        .nav-items {
            @include span-columns(1 of 6);
            list-style: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
// MAIN ------------
.hero {
    @include outer-container(12);
    margin-top: 80px;
    background-image: url("../img/GamlaStan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 425px;
    text-align: center;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 505px;
        background-color: rgba(92, 78, 72, 0.4);
        z-index: 0;
    }
}
// CONTACT----------------------
.contact {
    @include outer-container(12);
    color: #303C42;
    text-align: center;
    .contact-img {
        @include span-columns(6 of 12);
    }
    .contact-content {
        @include span-columns(6 of 12);
        margin-top: 60px;
        .contact-info {
          .contact-title {
              @include span-columns(6 of 6);
          }
            .contact-items {
              margin-top: 10px;
              list-style: none;
              letter-spacing: 5px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .contact-icons {
                margin-right: 5px;
            }
        }
    }
}
.mobileContact {
    display: none;
    h2 {
        margin: 15px;
        font-size: 32px;
    }
    ul {
        padding-left: 0;
        font-size: 38px;
        list-style: none;
    }
    li {
        @include span-columns(4 of 12);
    }
}
//  ABOUT ---------------------
.about {
    @include outer-container(12);
    @include pad();
    background-color: #303C42;
    border-top: 1px solid #303C42;
    color: #fff;
    .about-info {
        text-align: center;
        color: #fff;
        line-height: 40px;
        font-style: normal;
        font-weight: lighter;
        font-size: 24px;
        margin: 0 0 0 10px;
        letter-spacing: 6px;
        padding: 10px;
    }
}
//  Social -------
.social {
    @include outer-container(12);
    margin-top: 2em;
    .insta {
        @include span-columns(12 of 12);
        text-align: center;
        a {
            height: 0;
        }
        img {
            margin-right: 5px;
            opacity: 0.5;
            &:hover {
                opacity: 1;
                transition: 0.6s;
            }
        }
    }
}

// Skills
.portfolio {
    @include outer-container(12 of 12);
    @include pad();
    color: #303C42;
    text-align: center;

    .portfolio-title {
      @include span-columns(12 of 12);
      text-align: center;
    }
    .portfolio-info {
        @include span-columns(12 of 12);
        letter-spacing: 3px;
        text-align: left;
        line-height: 24px;
        font-size: 14px;
    }
    .projects {
        @include span-columns(12 of 12);
        text-align: center;
        margin-bottom: 20px;
        .project-item {
            @include span-columns(6 of 12);
            margin: 0.5%;
            text-align: center;
            text-decoration: none;
            color: #303C42;
                &:hover {
                    text-decoration: underline;
                }
            .project-img {
                @include span-columns(6 of 6);
                border: 1px solid #303C42;
                opacity: 0.5;
                margin: 10px;
                height: 300px;
                &:hover {
                    opacity: 1;
                    transition: 0.6s;
                }
            }
        }
    }
}
.portfolio-links {
    margin: 1%;
    text-decoration: none;
    color: #303C42;
    &:hover {
        text-decoration: underline;
    }
    .fa {
      margin-right: 0.5em;
    }
}
// Footer
.footer {
    @include outer-container(12);
    @include pad();
    background-color: #303C42;
    text-align: center;
    &:focus {
        transition: 0.5s;
    }
    .back-to-top {
      text-decoration: none;
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
    }
}
