@include media($tablet) {
    .header {
        .title {
            @include span-columns(12 of 12);
        }
        .navigation {
            display: none;
        }
    }
    .hero {
        .web {
            font-size: 42px;
            padding: 22px;
        }
    }
    .contact {
        .contact-img {
            @include span-columns(12 of 12);
        }
        .contact-content {
            @include span-columns(12 of 12);
            text-align: center;
            .contact-title {
                @include span-columns(4 of 4);
            }
        }
    }
    .portfolio {
        .portfolio-title {
            display: none;
        }
        .portfolio-info {
            display: none;
        }
        .projects {
            display: none;
            .project-img {
                @include span-columns(12 of 12);
                height: 300px;
                margin: 0 0 8px;
            }
        }
    }
    .footer {
        .copyright {
            @include span-columns(12 of 12);
            text-align: center;
        }
        .scroll-up-container {
            @include span-columns(12 of 12) text-align: center;
            padding-top: 10px;
        }
        .social {
            @include span-columns(12 of 12);
            display: none;
            text-align: center;
        }
    }
}