@include media($tablet) {
    .header {
        .title {
            @include span-columns(12 of 12);
        }
        .navigation {
            display: none;
        }
    }
    .contact {
        .contact-img {
            @include span-columns(12 of 12);
        }
        .contact-content {
            @include span-columns(12 of 12);
            text-align: center;
            margin-top: 0;
            .contact-info {
                display: none;
            }
            .contact-title {
                @include span-columns(4 of 4);
            }
        }
    }
    .mobileContact {
        @include outer-container(12);
        @include pad();
        text-align: center;
        color: #303C42;
        display: inline;
    }
    .portfolio {
        .portfolio-title {
            display: none;
        }
        .portfolio-info {
            display: none;
        }
        .projects {
            display: none;
            .project-img {
                @include span-columns(12 of 12);
                height: 300px;
                margin: 0 0 8px;
            }
        }
    }
}
